*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kodchasan", sans-serif;

}

body {
    background-color: #0F1722;
    background-image: url(../imagens/buraco-negro.png);
    background-size: cover;
    background-repeat: no-repeat;
    
}


header {
    display: flex;
    align-items: center;
    margin-top: 34px;
}

header a {
    text-decoration: none;
}

header img {
    margin: 0 0 0 66px;
}

header h1 {
    font-size: 31px;
    font-weight: 900;
    line-height: 40px;
    font-family: "Inter", sans-serif;
    color: #fff;
}

.menu {
    margin-left: auto;
    background-color: #8672AF;
    padding: 10px 20px;
    border-radius: 25px;
}

.menu .ativo {
    color: #EE82EE;
}

.menu a {
    text-decoration: none;
    color: #fff;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    padding: 10px 20px;
}

.caixinhas {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 31px;
    margin-top: 144px;
}

.caixona {
    display: flex;
    width: 740px;
    height: 513px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin-top: -100px;

    border-radius: 90px;
    opacity: 0.7;
    background: #A1A1A1;
}

.mco {
    width: 627px;
    height: 429px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    
    color: #000;
    text-align: center;
    font-family: Kodchasan;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px; /* 200% */
}

h3 {
color: #fff;
display: flex;
justify-content: center;
align-items: center;
flex-shrink: 0;
margin-top: 100px;


text-align: center;
font-family: Kodchasan;
font-size: 50px;
font-style: normal;
font-weight: 600;
line-height: 40px; /* 80% */
}

.va {
    width: 281px;
    height: 40px;
    flex-shrink: 0;

    color: #FFF;
    text-align: center;
    font-family: Kodchasan;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 125% */
    margin-left: 981px;
    
    border-radius: 10px;
    border: 7px solid #F0F0F0;
    background: #B86AD9;
    text-decoration: none;

}


.mm {
    width: 281px;
    height: 40px;
    flex-shrink: 0;
   

    color: #FFF;
    text-align: center;
    font-family: Kodchasan;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 125% */


    border-radius: 10px;
    border: 7px solid #F0F0F0;
    background: #B86AD9;
    text-decoration: none;



}
    .fundo_seta_direita {
    background-color: #8672AF;
    width: 89px;
    height: 84px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: auto;
    margin-right: 47px;
    margin-top: 45px;
}


.seta {
    width: 64px;
    height: 64px;
}

.fundo_seta_esquerda {
    background-color: #8672AF;
    width: 89px;
    height: 84px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: auto;
    margin-left: 47px;
    margin-top: -85px;
}